<div id="<%= dom_id cartitem %>">
  <p>
    <strong>Cartitem:</strong>
    <%= cartitem.cartitem_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= cartitem.product_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= cartitem.user_id %>
  </p>

  <p>
    <strong>Cart:</strong>
    <%= cartitem.cart_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= cartitem.quantity %>
  </p>

  <p>
    <strong>Line total:</strong>
    <%= cartitem.line_total %>
  </p>

</div>
