<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Class_room</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to class_rooms_path, class: button_class(theme: "transparent") do %>
      All Class_rooms
      <% end %>
      <%= link_to edit_class_room_path(@class_room), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @class_room.name %></p>
      </li>
      <li>
        <p class="font-semibold">Available:</p>
        <p><%= @class_room.available %></p>
      </li>
      <li>
        <p class="font-semibold">Start time:</p>
        <p><%= @class_room.start_time %></p>
      </li>
  </ul>
</div>
