<div id="<%= dom_id rating %>">
  <p>
    <strong>Rating:</strong>
    <%= rating.rating_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rating.user_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= rating.product_id %>
  </p>

  <p>
    <strong>Starsrated:</strong>
    <%= rating.starsRated %>
  </p>

</div>
