<div id="<%= dom_id cart %>">
  <p>
    <strong>Cart:</strong>
    <%= cart.cart_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= cart.user_id %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= cart.subTotal %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= cart.status %>
  </p>

</div>
