<div id="<%= dom_id cart %>">
  <p>
    <strong>Cartid:</strong>
    <%= cart.cartID %>
  </p>

  <p>
    <strong>Userid:</strong>
    <%= cart.userID %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= cart.subTotal %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= cart.status %>
  </p>

</div>
