<div id="<%= dom_id cart_item %>">
  <p>
    <strong>Cartitemid:</strong>
    <%= cart_item.cartItemID %>
  </p>

  <p>
    <strong>Productid:</strong>
    <%= cart_item.productID %>
  </p>

  <p>
    <strong>Userid:</strong>
    <%= cart_item.userID %>
  </p>

  <p>
    <strong>Cartid:</strong>
    <%= cart_item.cartID %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= cart_item.quantity %>
  </p>

  <p>
    <strong>Line total:</strong>
    <%= cart_item.line_total %>
  </p>

</div>
