<div id="<%= dom_id brand %>">
  <p>
    <strong>Brand:</strong>
    <%= brand.brand_id %>
  </p>

  <p>
    <strong>Brandname:</strong>
    <%= brand.brandName %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= brand.logo %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= brand.description %>
  </p>

</div>
