<%= form_with(model: product) do |form| %>
<% if product.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :productID, class: label_class %>
          <%= form.number_field :productID, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :brandID, class: label_class %>
          <%= form.select :brandID, options_from_collection_for_select( Brand.all, 'brandID', 'brandName', selected = product.brandID), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :productName, class: label_class %>
          <%= form.text_field :productName, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :image, class: label_class %>
          <%= form.file_field :image, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :price, class: label_class %>
          <%= form.text_field :price, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :discountPercent, class: label_class %>
          <%= form.text_field :discountPercent, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :description, class: label_class %>
          <%= form.text_area :description, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :stock, class: label_class %>
          <%= form.number_field :stock, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if product.persisted? %>
<%= link_to "Cancel", product, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", products_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
