<div id="<%= dom_id product %>">
  <p>
    <strong>Productid:</strong>
    <%= product.productID %>
  </p>

  <p>
    <strong>Brandid:</strong>
    <%= product.brandID %>
  </p>

  <p>
    <strong>Productname:</strong>
    <%= product.productName %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= product.image %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Discountpercent:</strong>
    <%= product.discountPercent %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>

</div>
